@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 75px;
    background: #222222;
    box-sizing: border-box;
    padding-top: 18px;
}

.search__img {
    margin-left: 41px;
}

.login {
    margin-left: 34px;
    margin-right: 33px;
}

.header__content {
    background: #F1E4E6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
    margin-bottom: 64px; 
}
.content {
    display: flex;
}
.content > div {
    width: 50%;
}

.header__content_left {
    display: block;
}

.image__brand {
    display: block;
    width: 100%;
}
.header__content_right {
    background: #f1e4e6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    justify-content: flex-start;
}
.text__brand {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 92px;
    margin-left: 64px;
}
.text__brand div:first-child {
    font-weight: 900;
    font-size: 44px;
    line-height: 33px;
}
.text__brand div:last-child {
    font-weight: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 92px;
}
.text__brand span {
    color: #F16D7F;
}
.top__content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}
.accesories {
    grid-column: 1/-1;
}

.top__item {
    position: relative;
}
.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}
.text {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;  
}
.item__text {
    Width: 100%;
    Height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}


/*adaptive version main page*/

@media (max-width: 1199.98px) {
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .header__content {
        margin-bottom: 20px;
        border: none;
        box-shadow: none;
    }
    .content {
        display: flex;

    }
    .text__brand {
        margin-left: 40px;
    }
    .text__brand div:first-child {
        font-size: 44px;
        line-height: 33px;
    }
    .text__brand div:last-child {
        font-size: 24px;
        line-height: 98px;
    } 
    .top__content {
       
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
    }
} 

@media (max-width: 767px) {
    .header {
        padding: 18px 16px;
    }
    .cart {
        display: none;
    }
    .login {
        display: none;
    }
  
    .header__content {
        min-height: 363px;
        position: relative;
    
    }
    .content {
        min-height: inherit;
    }
    .content {
        display: flex;
    }
    .content > div {
        width: 100%;
    }
    .content > div {
        width: none;
    }
    .header__content_left {
        display: none;
    }
    .header__content_right {
        
        justify-content: center;
    }
    
    .text__brand {
        height: 61px;
        margin-left: 0px;
    }
    .text__brand div:first-child {
        font-size: 38px;
        line-height: 27px;
    }
    .text__brand div:last-child {
        font-size: 20px;
        line-height: 52px;
    } 
    .top__content {
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 247px) 111px;
        row-gap: 32px;
        padding: 64px 16px;
    }
}  
   /* 
        .top {
        margin-bottom: 155px;
        margin-left: 16px;
        margin-right: 16px;
       
    }
    .top {
        margin-bottom: 64px;
           
    }
    .top__content {
        /*grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
        row-gap: 32px;
        display: flex;
        flex-direction: column;
    }
     .accesories {
        display: none;
    }
    .top__item:last-child {
        height: 111px;
        width: 320px;
        grid-column: 1/4;
        background-image: url(img/categories.svg);
        background: linear-gradient(rgba(0,0,0,0.5));
        
      }*/


