* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato, sans-serif;
}
.container {
    max-width: 1142px;
    margin: 0 auto;
}

.menu {
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__content {
    display: flex;
    align-items: center;
    background: #F1E4E6;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 64px;
    min-height: 765px;
    margin-bottom: 64px;
}
.header__content_left {
display: block;
}
.image__brand {
    display: block;
    width: 100%;
}
.header__content_right {
    background: #f1e4e6;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    padding-left: 64px;
}
.text__brand {
    border-left: 12px solid #F16D7F;
    padding-left: 15px;
    height: 93px;
}
.text__brand div:first-child {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.text__brand div:last-child {
    font-weight: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.text__brand span {
    color: #F16D7F;
}
.menu__logo {
    display: flex;
    width: 111px;
    height: 38px;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 18px;
    margin-left: 231px;
}
.menu__copy {
    display: flex;
    width: 169px;
    height: 37px;
    justify-content: space-between;
    align-items: center;
    padding-top: 19px;
    margin-right: 230px;
}
.top {
    margin-bottom: 97px;
}
.top__content {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}
.top__item {
    position: relative;
    height: 260px;
  }

.top__item .image  {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

.top__item:last-child {
    height: 180px;
    grid-column: 1/4;
  }

.text {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;  
}

.item__text {
    Width: 100%;
    Height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

/*adaptive version main page*/
@media (max-width: 1024px) {

    .menu__logo {
        margin-left: 32px;
    }
    .menu__copy {
        margin-right: 35px;
    }
    .header__content {
        margin-bottom: 20px;
        max-height: 385px;
        border: none;
    }
    .text__brand {
       height: 92px;
    }
    .text__brand div:first-child {
        font-size: 44px;
        line-height: 53px;
    }
    .text__brand div:last-child {
        font-size: 24px;
        line-height: 29px;
    }

    .top {
        margin-bottom: 155px;
        margin-left: 16px;
        margin-right: 16px;
       
    }
    .top__content {
        grid-template-columns: repeat(3, 316px) 116px;
        row-gap: 20px;
        column-gap: 20px;
    }
   .top__item {
      height: 233px;
    }

}

@media (max-width: 667px) {
    .login {
        display: none;
    }
    .cart {
        display: none;
    }
    .menu__copy{
        width: 35px;
    }
    .menu__logo {
        padding-left: 16px;
    }
    
    .header__content {
        margin-bottom: 64px;
        min-height: 363px;
        
    }
    .image__brand {
        display: none;
    }
    .text__brand {
       height: 66px;
    }
    .text__brand div:first-child {
        font-size: 38px;
        line-height: 46px;
    }
    .text__brand div:last-child {
        font-size: 20px;
        line-height: 24px;
    }
    .top {
        margin-bottom: 155px;
        margin-left: 16px;
        margin-right: 16px;
       
    }
    .top {
        margin-bottom: 64px;
           
    }
    .top__content {
        /*grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 248px) 111px;
        row-gap: 32px;*/
        display: flex;
        flex-direction: column;
    }
     .accesories {
        display: none;
    }
    .top__item:last-child {
        height: 111px;
        width: 320px;
        grid-column: 1/4;
        background-image: url(img/categories.svg);
      }
}

